* {
  margin: 0;
  padding: 0; }

body {
  color: #000;
  font-family: Arial, Helvetica, sans-serif; }

.principal {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header header header" "banner banner banner" "contents contents sidebar" "networksLeft networksRight sidebar" "footer footer footer"; }
  .principal .header {
    grid-area: header; }
  .principal .banner {
    padding: 50px;
    color: cadetblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: banner;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/lanas-banner.jpg); }
  .principal .contents {
    padding: 30px;
    grid-area: contents;
    font-size: larger;
    text-align: justify;
    background: #e7e5df; }
    .principal .contents img {
      width: 30%; }
  .principal .sidebar {
    grid-area: sidebar;
    text-align: justify;
    padding: 30px;
    background: #e7bb41;
    font-size: larger; }
  .principal .networksLeft,
  .principal .networksRight {
    padding: 30px;
    color: black;
    text-align: center;
    display: center;
    font-size: larger;
    justify-content: center; }
  .principal .networksLeft {
    grid-area: networksLeft;
    background: #eb4859;
    transition: all 6s ease; }
  .principal .networksRight {
    grid-area: networksRight;
    background: #44bba4;
    transition: all 6s ease; }
  .principal .networksLeft:hover {
    background-color: #44bba4;
    transform: scale(1.2); }
  .principal .networksRight:hover {
    background-color: #eb4859;
    transform: scale(1.2); }
  .principal .footer {
    background-color: #393e41;
    text-align: center;
    padding: 20px;
    grid-area: footer; }
  @media screen and (max-width: 960px) {
    .principal {
      grid-template-areas: "header header header" "banner banner banner" "contents contents contents" "sidebar sidebar sidebar"  "networksLeft networksLeft networksLeft" "networksRight networksRight networksRight" "footer footer footer"; } }

.footer a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #393e41;
  color: darkcyan;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out; }

.footer a:hover {
  transform: scale(1.2); }
