* {
  margin: 0;
  padding: 0;
}
$colors: (
  networksLeft: #eb4859,
  networksRight: #44bba4,
);
$colors-between: (
  networksLeft: #44bba4,
  networksRight: #eb4859,
);
$paddingGe:100px;
@mixin padding($padding) {
  padding: $padding;  
}
body {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
.principal {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "header header header"
    "banner banner banner"
    "contents contents sidebar"
    "networksLeft networksRight sidebar"
    "footer footer footer";

  .header {    
    grid-area: header;
  }
  .banner {
    padding: 130px; 
    color: cadetblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: banner;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/lanas-banner.jpg);
  }
  .contents {   
    @include padding($paddingGe);
    grid-area: contents;
    font-size: larger;
    text-align: justify;
    background: #e7e5df;
  }
  .sidebar {    
    grid-area: sidebar;
    text-align: center;
    @include padding($paddingGe);
    background: #e7bb41;
    font-size: larger;     
  }
  .networksLeft,
  .networksRight {     
    @include padding($paddingGe);
    color: black;
    text-align: center;
    display: center;
    font-size: larger;
    justify-content: center;
  }

  @each $name, $font in $colors {
    .#{$name} {
      grid-area: $name;
      background: $font;
      transition: all 6s ease;
    }
  }
  @each $name, $font in $colors-between {
    .#{$name}:hover {
      background-color: $font;
      transform: scale(1.2);
    }
  }
  .footer {
    background-color: #393e41;
    text-align: center;
    padding: 20px;
    grid-area: footer;
  }
  @media screen and (max-width: 960px){ 
    grid-template-areas:    
    "header header header"
    "banner banner banner"
    "contents contents contents"
    "sidebar sidebar sidebar" 
    "networksLeft networksLeft networksLeft"
    "networksRight networksRight networksRight"
    "footer footer footer";
  }
}
.footer {
  a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #393e41;
    color: darkcyan;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out;
  }
  a:hover {   
    transform: scale(1.2);
  }
}